<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>HouzStack</header>
    <main>
        <h1>Welcome to the <br>
        Houztack project
        </h1>
        <h3>
            A web service that provides prediction for <br>
            house rent, currently in Nigeria and the UK
        </h3>
        <aside>
            <div>
                <h2>Select prediction service</h2>
                <button><a href="">Nigeria</a></button>
                <button><a href="">UK</a>
                </button>

            </div>
    </aside>
    </main>

</body>
</html>
