<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Nigeria Prediction</title>
</head>


<body class="">
    <header>
        <div class="header-div">
            <a class= "logo" href="{{url_for('landing')}}">HOUZSTACK</a>
        </div>
    </header>
    {% include 'flash.html' %}

    <main>
    
    <div class="house-text">
        <h1>Nigeria House Rent Prediction</h1>
    </div>

    <p style="font-weight: bolder; margin-top: 10px;">fill in your details below</p> <br>
    

    <form action="{{ url_for('nigeria_form_predict') }}" method="post">
        {{ form.hidden_tag() }}

        <!-- Form fields -->
        {% if form.errors %}
                {% for field, error in form.errors.items() %}
                   {% for err in error %}
    
                    <div style="padding: 5px; width: 30%; height: 30px; background-color: red; color: white; margin-bottom: 5px;"> {{ field }}: {{ err }} </div>
    
                   {% endfor %}
               {% endfor %}
                
            {% endif %}

   


        {{ form.newly_built.label }} <br>
        {{ form.newly_built(class='input_fields') }} <br><br>

        {{ form.serviced.label }} <br>
        {{ form.serviced(class='input_fields') }} <br><br>

        {{ form.furnished.label }} <br>
        {{ form.furnished(class='input_fields') }} <br><br>

        {{ form.bedrooms.label }} <br>
        {{ form.bedrooms(class='input_fields') }} <br><br>

        {{ form.bathrooms.label }} <br>
        {{ form.bathrooms(class='input_fields') }} <br><br>

        {{ form.toilets.label(class='input_fields') }} <br>
        {{ form.toilets(class='input_fields') }} <br><br>


      

        <input class="ng-pred-btn" type="submit" value="GET RENT PREDICTION">
    </form>

    </main>

    
</body>
</html>
