<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<header>
    <div class="header-div">
        <a class= "logo" href="{{url_for('landing')}}">HOUZSTACK</a>
    </div>
</header>
<body>
  
    {% include 'flash.html' %}

    <main>
        <div class="success-text" success-text>
            <h1>Successful prediction</h1>

        </div>

        <div>
        <p>
            Your predicted house rent in <span style="font-weight: bolder;">{{ country }}</span> is <span style="font-weight: bolder;">{{ prediction }} {{ currency }}</span> 
        </p>

        <br><br>
        <p >
            Thank you for using <span class="font-bold">HOUZSTACK</span>
        </p>

        </div>

    
        <a href="{{url_for('nigeria')}}" class="prediction-button-nigeria" >Nigeria prediction page</a>
        <a href="{{url_for('uk')}}" class="prediction-button-uk" >England prediction page</a>
    
    
            
        
    </main>
    
</body>
</html>

